{
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "printWidth": 90,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "singleQuote": false,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": ["./src/locales/*.json"],
      "options": {
        "plugins": ["prettier-plugin-sort-json"],
        "jsonRecursiveSort": true
      }
    }
  ],
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^@/(.*)$",
    "^@tauri-apps/(.*)$",
    "^\\$app(.*)$",
    "^svelte(.*)$",
    "^lucide-svelte(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "tailwindFunctions": ["tv"]
}
